<div id="modal_actualizar_usuario" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
    		<form>    			
	      		<div class="modal-header bg-blue-posta">
	      			<h4 class="modal-title">Actualizar Usuario</h4>	
	      		</div>
	      		<div class="modal-body">
	      			<div class="col-sm-12" id="contenedor_mensaje_update_usuario" style="display: none;">&nbsp;</div>	
	      			<div class="input-group">	        				 
					  	<div class="col-sm-12 col-md-4" title="Usuario...">
							<h6>*Usuario:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user-md green"></i></span><input id="upd_usuario" disabled="disabled" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1" autocomplete="off"></div>
						</div>
					</div>	
					<br>	
        			<div class="input-group">	        				 
					  	<div class="col-sm-12 col-md-4" title="Nombres...">
							<h6>*Nombres:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user green"></i></span><input id="upd_nombres" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
						<div class="col-sm-12 col-md-4" title="Apellido Paterno...">
							<h6>*Apellido Paterno:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user green"></i></span><input id="upd_ape_paterno" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
						<div class="col-sm-12 col-md-4" title="Apellido Materno...">
							<h6>Apellido Materno:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user green"></i></span><input id="upd_ape_materno" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
					</div>	
					<br>					
					<div class="input-group">
						<div class="col-sm-12 col-md-4" title="N° Documento...">
							<h6>*N° Documento:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-id-card green"></i></span><input id="upd_nun_doc" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
						<div class="col-sm-12 col-md-4" title="F. Nacimiento...">
							<h6>Fecha Nacimiento:</h6>
							<div class="input-group"><span class="input-group-addon"></span><input id="upd_fecha_nac" type="date" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
						<div class="col-sm-12 col-md-4" title="Teléfono...">
							<h6>Teléfono:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-phone green"></i></span><input id="upd_telefono" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
					</div>		
					<br>			
					<div class="input-group">	        				 					  
						<div class="col-sm-12 col-md-4" title="Celular...">
							<h6>Celular:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-phone green"></i></span><input id="upd_celular" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
						<div class="col-sm-12 col-md-4" title="Email...">
							<h6>*Email:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope green"></i></span><input id="upd_email" type="email" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
						<div class="col-sm-12 col-md-4" title="Tipo Usuario...">
							<h6>*Tipo Usuario:<br></h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user-md green"></i></span>							
								<select id="upd_tipo_usuario" class="form-control">
									<option value="-1">-- Seleccionar --</option>
								</select>
							</div><br>
						</div>
					</div>	
					<br>
					<div class="input-group">	        				 					   						
						<div class="col-sm-12 col-md-4" title="Servicio...">
							<h6>*Servicio:<br></h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-chain green"></i></span>							
								<select id="upd_servicio" class="form-control">
									<option value="-1">-- Seleccionar --</option>
								</select>
							</div><br>
						</div>
					</div>	
					<br>
	      		</div>
	   			<div class="modal-footer">
	   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	        		<button type="button" onclick="actualizar_usuario()" class="btn btn-primary">Actualizar</button>
	      		</div>
    		</form>
   		</div>
  	</div>
</div>