<div id="mdl_agregar_userRol" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form>
	      		<div class="modal-header bg-blue-posta">
	        		<h4 class="modal-title">Agregar Rol a Usuario</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="col-sm-12" id="contenedor_mensaje_add_userRol" style="display: none;">&nbsp;</div>
	      			<div class="input-group">	        				 
					  	<div class="col-sm-12" title="Usuario...">
							<h6>Usuario:<br></h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user-md green"></i></span>							
								<select id="nw_ur_usuario" class="form-control">
									<option value="-1">-- Seleccionar --</option>
								</select>
							</div><br>
						</div>						
					</div>		
        			<div class="input-group">	        				 
					 	<div class="col-sm-12" title="Rol...">
							<h6>Rol:<br></h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-user-md green"></i></span>							
								<select id="nw_ur_rol" class="form-control">
									<option value="-1">-- Seleccionar --</option>
								</select>
							</div><br>
						</div>
					</div>	        		
	      		</div>
	   			<div class="modal-footer">
	   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	        		<button type="button" class="btn btn-primary" onclick="agregarRolUser()">Guardar</button>
	      		</div>
    		</form>
   		</div>
  	</div>
</div>