<div id="modal_grabar_receta_consulta" class="modal fade" tabindex="-1" role="dialog">
	<meta charset="UTF-8">
  	<div class="modal-dialog modal-lg modal-xl" role="document">
    	<div class="modal-content">
      		<div class="modal-header bg-blue-posta">
      			<h4 id="lbl_titulo_receta_paciente">-</h4>
      			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button> 
      		</div>
      		<div class="modal-body">
       			<div class="row">
       				<div class="col-sm-12" id="contenedor_receta_mensaje" style="display: none;">&nbsp;</div><br>
					<div class="col-sm-7">
						<h5 id="lbl_fecha_actual_receta"></h5>
					</div>
					<div class="col-sm-2 text-right"><h6>Fecha de expiración:</h6></div>
					<div class="col-sm-3 text-right">
						<input id="rc_fecha_expiracion" type="date" class="form-control font-weight-bold border-bottom date" aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="table-responsive">
							<table id="tbl_listado_diagnostico" class="table table-bordered">
								<thead>
									<tr class="secondary">
										<th class="h5 align-middle text-center"  colspan="3">DIAGNÓSTICO</th>
									</tr>
								</thead> 
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="table-responsive">
							<table id="tbl_listado_receta" class="table table-bordered">
								<thead>
									<tr class="secondary">
										<th class="h5 align-middle text-center"  colspan="9">RECETA</th>
									</tr>
									<tr class="secondary">
										<th class="align-middle w-25"  rowspan="2">MEDICAMENTO (DCI) O INSUMO</th>										
										<th class="align-middle"  rowspan="2">CONCENT..</th>
										<th class="align-middle"  rowspan="2">F.F.</th>
										<th class="align-middle"  rowspan="2">CANTIDAD</th>
										<th class="text-center" colspan="5">INDICACIONES</th>
									</tr>
									<tr class="secondary">
										<th>DOSIS</th>
										<th>VÍA</th>
										<th>FRECUENCIA</th>
										<th>DURACIÓN</th>
										<th></th>
									</tr>
								</thead> 
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<button id="btn_adicionar_fila_diagnostico" class="btn btn-md text-white" style="background-color: rgb(54, 127, 169);"><i class="fa fa-plus-circle"></i> Diagnóstico</button>
						<button id="btn_adicionar_fila_receta" class="btn btn-md text-white" style="background-color: rgb(54, 127, 169);"><i class="fa fa-plus-circle"></i> Medicamento</button>
					</div>
					<div class="col-sm-2 text-center">
						<button id="btn_limpiar_modal_receta" class="btn btn-md text-white" style="background-color: rgb(54, 127, 169);"><i class="fa fa-eraser"></i> Limpiar Todo</button>
					</div>
					<div class="col-sm-5 text-right">
        				<button id="btn_grabar_receta" class="btn btn-md text-white" style="background-color: rgb(54, 127, 169);">Listo</button>
					</div>
				</div>
      		</div>
   		</div>
  	</div>
</div>