<div id="modal_actualizar_rol" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form id="form_actualizar_rol">
	      		<div class="modal-header bg-blue-posta">
	        		<h4 class="modal-title">Actualizar Rol</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="input-group">	        				 
					  	<div class="col-sm-12" title="Rol...">
							<h6>Rol:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-address-book green"></i></span><input id="update_nombreRol" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>						
					</div>		
        			<div class="input-group">	        				 
					 	<div class="col-sm-12" title="Descripción...">
							<h6>Descripción:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-paragraph green"></i></span><input id="update_descripcionRol" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
					</div>	
	      		</div>
	   			<div class="modal-footer">
	   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	        		<button type="button" class="btn btn-primary" onclick="actualizar_rol()">Actualizar</button>
	      		</div>
    		</form>
   		</div>
  	</div>
</div>