<div id="modal_editar_cita" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
    		<form id="form_editar_cita">
 				<input type="hidden" name="id_cita" value="">
 				<input type="hidden" name="id_paciente" value="">
	      		<div class="modal-header bg-blue-posta">
	        		<h4 class="modal-title">Nuevo Cita</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="col-sm-12" id="contenedor_mensaje_edit_paciente" style="display: none;">&nbsp;</div>	
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>DNI : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user-md green"></i></span>
		      					<input class="form-control form-control-sm" id="dni_editar_cita" type="text" autocomplete="off" disabled="disabled">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Nombres : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user-md green"></i></span>
		      					<input class="form-control form-control-sm" id="nombre_editar_cita" type="text" autocomplete="off" disabled="disabled">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Celular : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-phone green"></i></span>
		      					<input class="form-control form-control-sm" id="celular_editar_cita" name="celular_cita" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>Fecha : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-id-card green"></i></span>
		      					<input class="form-control form-control-sm" name="fecha_cita" type="date" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Hora : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user-md green"></i></span>
		      					<input class="form-control form-control-sm" name="hora_cita" type="time"> 
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Interconsulta : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-envelope green"></i></span>
	      						<select class="form-control form-control-sm" name="interconsulta">
	      							<option value="">[seleccione]</option>
	      							<option value="0">No</option>
	      							<option value="1">Si</option>
	      						</select>
	      					</div>
	      				</div>
	      				<div class="input-group">	        				 					   						
							<div class="col-sm-12 col-md-4" title="Servicio...">
								<h6>*Servicio:<br></h6>
								<div class="input-group"><span class="input-group-addon"><i class="fa fa-chain green"></i></span>							
									<select id="up_cita_servicio" class="form-control" name="servicio_cita">
										<option value="-1">-- Seleccionar --</option>
									</select>
								</div><br>
							</div>
						</div>
	      			</div>
	      		</div>
	   			<div class="modal-footer">
	   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	        		<button type="submit" class="btn btn-primary">Grabar</button>
	      		</div>
    		</form>
   		</div>
  	</div>
</div>