<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Inicio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style th:replace="/admin/shared/style"></style>
<script th:replace="/admin/shared/file_script">
</script>
<script type="text/javascript">
	var polyfilter_scriptpath = "/admin/polyfills/filters/";
	var usuario = false;
	var ip = "http://localhost:8346/";
	//var ip = "https://sistema-csdsf.com/";
</script>
</head>
<body class="hold-transition skin-blue sidebar-mini layout-fixed">
	<div id="node-dialog-container"></div>
	<div class="wrapper">
		<div th:replace="/admin/shared/header"></div>
		<div th:replace="/admin/shared/left_side"></div>
		<div class="content-wrapper">
			<div layout:fragment="content"></div>
		</div>
		<div th:replace="/admin/shared/footer"></div>
		<div id="mq"></div>
		<div id="emvars"></div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/jspdf-autotable"></script>
	
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/admin_static/language.js"></script>
	<script src="/admin_static/layout.js" th:href="@{/admin_static/layout.js}"></script>

	<script src="/GestionPacientes/PacienteModule.js"></script>
	<script src="/GestionConsultas/ListarConsultasModule.js"></script>
	<script src="/GestionConsultas/NuevaConsultaModule.js"></script>	
	<script src="/GestionRoles/RolModule.js"></script>
	<script src="/GestionRoles/newBusquedaRolModule.js"></script>
	<script src="/GestionServicios/ServiciosModule.js"></script>
	<script src="/admin_static/accesosGenerales.js"></script>
	<script src="/GestionUsuarios/UsuarioModule.js"></script>
	<script src="/admin_static/accesosGenerales.js"></script>
	<script src="/Dashboard/dashboard.js"></script>
	<script src="/Configuraciones/TipoUsuario/TipoUsuarioModule.js"></script>
	<div layout:fragment="script"></div>
</body>







