<div id="modal_editar_paciente" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
    		<form id="form_editar_paciente">
	      		<div class="modal-header bg-blue-posta">
	      			<input type="hidden" name="id_paciente">
	        		<h4 class="modal-title">Editar Paciente</h4>
	      		</div>
	      		<div class="modal-body">	      			
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>*Nombres : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user green"></i></span>
		      					<input class="form-control form-control-sm" id="up_pac_nombre" name="nombre" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>*Apellido Paterno : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user green"></i></span>
		      					<input class="form-control form-control-sm" id="up_pac_ape_paterno" name="apellidoPaterno" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Apellido Materno : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user green"></i></span>
		      					<input class="form-control form-control-sm" name="apellidoMaterno" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>*N° de documento : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-id-card green"></i></span>
		      					<input class="form-control form-control-sm" id="up_pac_dni" name="numeroDocumento" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>*Sexo : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-venus-mars green"></i></span>
		      					<select class="form-control form-control-sm" id="up_pac_sexo" name="sexo">
		      						<option value="-1">[seleccione]</option>
		      						<option value="0">Masculino</option>
		      						<option value="1">Femenino</option>
		      					</select>
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Email : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-envelope green"></i></span>
		      					<input class="form-control form-control-sm" name="email" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>*Fecha de Nacimiento : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-place-of-worship green"></i></span>
		      					<input class="form-control form-control-sm" name="fechaNacimiento" id = "up_pac_fechaNacimiento" type="date" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Teléfono : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-phone green"></i></span>
		      					<input class="form-control form-control-sm" name="telefono" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Celular : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-mobile green"></i></span>
		      					<input class="form-control form-control-sm" name="celular" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>Lugar Nacimiento : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-map-marker green"></i></span>
		      					<input class="form-control form-control-sm" name="lugarNacimiento" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Peso : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-balance-scale green"></i></span>
		      					<input class="form-control form-control-sm" name="peso" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Talla : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-text-height green"></i></span>
		      					<input class="form-control form-control-sm" name="talla" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>Raza : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user green"></i></span>
		      					<input class="form-control form-control-sm" name="raza" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Religión : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-arrows green"></i></span>
		      					<input class="form-control form-control-sm" name="religion" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Nacionalidad : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-globe green"></i></span>
		      					<input class="form-control form-control-sm" name="nacionalidad" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col">
	      					<h6>Dirección :</h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-map-marker green"></i></span>
		      					<input class="form-control form-control-sm" name="direccionDomiciliaria" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>Grado de instrucción : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-graduation-cap green"></i></span>
		      					<select class="form-control form-control-sm" name="gradoInstruccion">
		      						<option value="-1">[seleccione]</option>
		      						<option value="0">Analfabeto</option>
		      						<option value="1">Primaria Incompleta</option>
		      						<option value="2">Primaria Completa</option>
		      						<option value="3">Secundaria Incompleta</option>
		      						<option value="4">Secundaria Completa</option>
		      						<option value="5">Tecnico Superior Incompleta</option>
		      						<option value="6">Tecnico Superior Completa</option>
		      						<option value="7">Universidad Incompleta</option>
		      						<option value="8">Universidad Completa</option>
		      						<option value="9">Analfabeto</option>
		      					</select>
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Ocupación : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-briefcase green"></i></span>
		      					<input class="form-control form-control-sm" name="ocupacion" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Estado Civil : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-handshake-o green"></i></span>
		      					<select class="form-control form-control-sm" name="estadoCivil">
		      						<option value="-1">[seleccione]</option>
		      						<option value="0">Soltero</option>
		      						<option value="1">Conviviente</option>
		      						<option value="2">Casado</option>
		      						<option value="3">Viudo</option>
		      						<option value="4">Divorciado</option>
		      					</select>
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>*Departamento : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-map-marker green"></i></span>
		      					<select class="form-control form-control-sm select_departamento">
		      						<option value="-1">[seleccione]</option>
		      					</select>
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>*Provincia : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-map-marker green"></i></span>
	      						<select class="form-control form-control-sm select_provincia">
		      						<option value="-1">[seleccione]</option>
		      					</select>
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>*Distrito : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-map-marker green"></i></span>
		      					<select class="form-control form-control-sm select_distrito" id="up_pac_distrito" name="region">
		      						<option value="-1">[seleccione]</option>
		      					</select>
	      					</div>
	      				</div>
	      			</div>
	      			<div class="form-row mb-3">
	      				<div class="col-sm-4">
	      					<h6>Nombre Contacto : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-user green"></i></span>
		      					<input class="form-control form-control-sm" name="nombreContacto" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Teléfono de Contacto : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-phone green"></i></span>
		      					<input class="form-control form-control-sm" name="telefonoContacto" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      				<div class="col-sm-4">
	      					<h6>Email Contacto : </h6>
	      					<div class="input-group">
	      						<span class="input-group-addon"><i class="fa fa-envelope green"></i></span>
		      					<input class="form-control form-control-sm" name="emailContacto" type="text" autocomplete="off">
	      					</div>
	      				</div>
	      			</div>
	      			<div class="col-sm-12" id="contenedor_mensaje_edit_paciente" style="display: none;">&nbsp;</div>
	      		</div>
	   			<div class="modal-footer">
	   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	        		<button type="submit" class="btn btn-primary">Grabar</button>
	      		</div>
    		</form>
   		</div>
  	</div>
</div>