<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CSDSF</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="/admin_static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/admin_static/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/admin_static/dist/css/skins/_all-skins.min.css">
<script src="/admin_static/bower_components/jquery/dist/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>
<!-- Layout css-->
<link rel="stylesheet" href="/admin_static/layout.css">
<link rel="stylesheet" type="text/css"
	href="static/admin_static/dist/css/general.css"
	th:href="@{/admin_static/dist/css/general.css}">
<!-- AdminLTE App -->
<script src="/admin_static/dist/js/adminlte.min.js"></script>
<script src="/admin_static/template/application.js"
	type="text/javascript"></script>
<script src="/admin_static/template/knockout-2.1.0.js"
	type="text/javascript"></script>
<script src="/admin_static/template/knockout.mapping.js"
	type="text/javascript"></script>
<script src="/admin_static/template/Core.js" type="text/javascript"></script>
<script src="/admin_static/template/coloadmodal.js"
	type="text/javascript"></script>
<script src="/admin_static/template/coupload.js" type="text/javascript"></script>
<script src="/admin_static/template/Base.js" type="text/javascript"></script>
<script src="/admin_static/template/tooltip.js" type="text/javascript"></script>
<script src="/admin_static/template/Tools.js" type="text/javascript"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<script type="text/javascript">
        var polyfilter_scriptpath = "/admin_static/polyfills/filters/";
        window.polyfilter_skip_stylesheets = true
        var usuario = false;
    </script>
<script type="text/javascript">
			var aLoginModule = null;
			$(document).ready(function() {
				document.getElementById("remember-me").checked = true;
				aLoginModule = new LoginModule();
				aLoginModule.config("secLoginMain");				
			});
		</script>
</head>
<body class="hold-transition login-page back">
	<section id="secLoginMain" class="login-box" style="margin-top:13%" >
		<div class="login-box-body text-center" style="background: #326682; opacity: 0.9">
			<div class="col-12 user-img">
				<img src="static/admin_static/dist/img/logo.png"
					th:src="@{/admin_static/dist/img/logo.png}" />
				<div class="login-logo">
					<b style="color: white">CSDSF</b>
				</div>
				<form method="post" th:action="@{/login}">
					<div class="form-group has-feedback">
						<input type="text" class="form-control" name="username"
							placeholder="Usuario"
							data-bind="value: aLoginModule.aUsuarioDTO.usuario"
							autocomplete="off">
					</div>
					<div class="form-group has-feedback">
						<input type="password" class="form-control" name="password"
							placeholder="Contraseña"
							data-bind="value: aLoginModule.aUsuarioDTO.contrasena"
							autocomplete="off">
					</div>
					<div class="row">
						<div class="col-xs-5">
							<button type="submit" class="btn btn-primary btn-flat" style="margin:0px 0px 0px 90%">Iniciar
								Sesión</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="mq"></div>
		<div id="emvars"></div>
		<div th:if="${param.error}" class="alert alert-danger" role="alert"
			style="display: none;">
			<script>  $.growl.error(null, 'Error', 'Usuario y/o contraseña incorrecto.');</script>
		</div>
	</section>
	<script src="/Login/Login.js"></script>
</body>
</html>