<script src="/admin_static/bower_components/jquery/dist/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>

<script src="/admin_static/dist/js/adminlte.min.js"></script>
<script src="/admin_static/template/application.js"
	type="text/javascript"></script>
<script src="/admin_static/template/knockout-2.1.0.js"
	type="text/javascript"></script>
<script src="/admin_static/template/knockout.mapping.js"
	type="text/javascript"></script>
<script src="/admin_static/template/Core.js" type="text/javascript"></script>
<script src="/admin_static/template/coloadmodal.js"
	type="text/javascript"></script>
<script src="/admin_static/template/coupload.js" type="text/javascript"></script>
<script src="/admin_static/template/Base.js" type="text/javascript"></script>
<script src="/admin_static/template/tooltip.js" type="text/javascript"></script>
<script src="/admin_static/template/Tools.js" type="text/javascript"></script>

<script 
	src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> 
<script 
	src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script> 
<script src="/admin_static/bower_components/raphael/raphael.min.js"></script>
<script src="/admin_static/bower_components/morris.js/morris.min.js"></script>
<script src="/admin_static/bower_components/chart.js/Chart.js"></script>
<script src="/admin_static/bower_components/toolbar/jquery.toolbar.js"></script>
<script
	src="/admin_static/bower_components/ion.rangeSlider/js/ion.rangeSlider.js"></script>
<script src="/admin_static/language.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="/admin_static/layout.js"></script>
<script src="/admin_static/accesosGenerales.js"></script>
