<header class="main-header">
	<a href="/admin/dashboard" class="logo"> <span class="logo-mini">
		<img th:src="@{/admin_static/dist/img/logo.png}" class="img-size-50 mr-3 img-circle"
           style="opacity: .8"></span>
		<span class="logo-lg">
           <b>CSD</b>SF</span>
	</a>
	<nav class="navbar navbar-default navbar-static-top"
		style="background-color: rgb(54, 127, 169); height: 50px; padding: 0"
		role="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="push-menu"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="../../../admin_static/dist/img/user-01.jpg"
						class="user-image"> <span class="hidden-xs"
						th:text="${#authentication.getPrincipal().getUsername()}">
					</span>
				</a>
					<ul class="dropdown-menu">
						<li class="user-header"><img
							src="../../../admin_static/dist/img/user-01.jpg"
							class="img-circle">
							<p>
								<span class="hidden-xs"
									th:text="${#authentication.getPrincipal().getUsername()}">
								</span>
							</p></li>
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Perfil</a>
							</div>
							<div class="pull-right">
								<a href="#" th:href="@{/logout}"
									class="btn btn-default btn-flat">Salir</a>
							</div>
						</li>
					</ul></li>

			</ul>
		</div>
	</nav>
</header>