<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li id="side_usuario" class="hidden"><a th:href="@{/admin/usuario}"> <i class="fa fa-user-md"></i>
					<span>Gestión de Usuarios</span></a></li>
			<li id="side_paciente"><a th:href="@{/admin/user/paciente}"> <i class="fa fa-user"></i> <span>Gestión
						de Pacientes</span></a></li>
			<li id="side_consultas"><a href="#"> <i class="fa fa-medkit"></i> <span>Gestión
						de Consultas </span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/admin/user/listar_consultas}"><i
							class="fa fa-user"></i>Listar Consultas</a></li>
				</ul></li>
			<li id="side_citas"><a th:href="@{/admin/citas}"> <i class="fa fa-calendar"></i>
					<span>Gestión de Citas</span></a></li>
			<li id="side_configuraciones" class="hidden"><a href="#"> <i class="fa fa-gears"></i> <span>Configuraciones
				</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/admin/tipoUsuario}"><i class="fa fa-user"></i>
							Tipo de Usuario</a></li>
				</ul>
				<ul class="treeview-menu">
					<li><a th:href="@{/admin/servicios}"><i class="fa fa-user"></i>
							Servicios</a></li>
				</ul>
				<ul class="treeview-menu">
					<li><a th:href="@{/admin/rol}"><i class="fa fa-user"></i> Roles</a></li>
				</ul>
				<ul class="treeview-menu">
					<li><a th:href="@{/admin/usuarioRol}"><i class="fa fa-user"></i>
							Asignar Roles</a></li>
				</ul></li>				
		</ul>
	</section>
</aside>