
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/admin_static/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/admin_static/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/datatables.net-bs/css/responsive.bootstrap.min.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/toolbar/jquery.toolbar.css">
<link rel="stylesheet"
	href="/admin_static/bower_components/ion.rangeSlider/css/ion.rangeSlider.css">
<link rel="stylesheet" href="/admin_static/layout.css">
<link rel="stylesheet" href="/admin_static/dist/css/general.css">