<div id="modal_agregar_servicio" class="modal fade" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form>    			
	      		<div class="modal-header bg-blue-posta">
	      			<h4 class="modal-title">Nuevo Servicio</h4>	
	      		</div>
	      		<div class="modal-body">	      			
	      			<div class="col-sm-12" id="contenedor_mensaje_add_servicio" style="display: none;">&nbsp;</div>
	      			<div class="input-group">	        				 
					  	<div class="col-sm-12" title="Servicio...">
							<h6>Servicio:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-chain green"></i></span><input id="nombre_servicio" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>						
					</div>		
        			<div class="input-group">	        				 
					 	<div class="col-sm-12" title="Descripción...">
							<h6>Descripción:</h6>
							<div class="input-group"><span class="input-group-addon"><i class="fa fa-paragraph green"></i></span><input id="descripcion_servicio" type="text" class="form-control font-weight-bold border-bottom" aria-describedby="basic-addon1"></div>
						</div>
					</div>		
	      		</div>
	   			<div class="modal-footer">
	   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
	        		<button type="button" onclick="agregarServicio()" class="btn btn-primary">Agregar</button>
	      		</div>
    		</form>
   		</div>
  	</div>
</div>